@import "@/styles/variables";
@import "@/styles/mixins";

.movie-detail-page {
  @include theme();

  &.#{$CATEGORY_POPULAR} {
    @include theme($CATEGORY_POPULAR);
  }
  &.#{$CATEGORY_TOP_RATED} {
    @include theme($CATEGORY_TOP_RATED);
  }
  &.#{$CATEGORY_UPCOMING} {
    @include theme($CATEGORY_UPCOMING);
  }

  min-height: 100vh;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  position: relative;
  color: $text-color;

  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    z-index: 0;
  }

  &.#{$CATEGORY_POPULAR} .overlay {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 70%,
      rgba(229, 9, 20, 0.35) 100%
    );
  }
  &.#{$CATEGORY_TOP_RATED} .overlay {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 70%,
      rgba(255, 204, 0, 0.35) 100%
    );
  }
  &.#{$CATEGORY_UPCOMING} .overlay {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 70%,
      rgba(255, 110, 199, 0.3) 100%
    );
  }

  .content {
    position: relative;
    display: flex;
    gap: 2rem;
    z-index: 1;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;

    .content {
      text-align: center;
    }

    .additional-info {
      padding: 1rem;

      .grid {
        grid-template-columns: 1fr;
      }
      .companies .logos {
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}
