@import "@/styles//variables";

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  color: $text-color;

  .empty-image {
    width: 200px;
    margin-bottom: 1.5rem;
    opacity: 0.8;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: $text-color;
  }

  .browse-btn {
    background-color: $primary-color;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
